@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* =====================
========common css=======
======================= */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.highlight {
  background-color: #fff;
  color: #e21717;
}
.primary-button {
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #bf3325, #eb4d4b);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 7px 0 #e79797;
  position: relative;
  top: 0;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #fcc3cc;
}
.section-title h1 {
  font-size: 40px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #d82e2f;
  margin: 50px 0;
}
/* ------------------ Header ------------------*/
header {
  background-image: url("../images/baclground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d82e2f;
  background-blend-mode: overlay;
  margin-bottom: 180px;
}

/* ------------------ Navbar ------------------ */
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 15px 10px;
}
.navigation li a:hover {
  background-color: #fff;
  color: #d82e2f;
  border-radius: 5px;
}
#nav-toggler {
  display: none;
}
.nav-toggler-icon {
  display: none;
  color: #fff;
  font-size: 30px;
}
/* ------------------ Banner section ------------------ */
.banner {
  height: calc(100vh - 80px);
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-left h1 {
  font-size: 45px;
  color: #fff;
}
.banner-left p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner-right img {
  width: 100%;
}

/* About Me */
#about-me {
  margin-bottom: 140px;
}
.section-title {
  text-align: center;
}
.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 80px;
}
.about-me-left img {
  width: 100%;
}
.skill {
  display: flex;
  flex-direction: column;
}
.light-red {
  background-color: #eb4d4b;
  color: #fff;
  border-radius: 10px;
}

/* Blog */
#my-blog {
  margin-bottom: 140px;
}
.my-blog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 30px;
}
.thumbnail img {
  width: 100%;
}
/* Contact Me */

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.contact-me-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
  outline: 0;
  border: 1px solid #ff008e;
}

/* footer */
footer {
  margin-top: 50px;
  height: 50px;
  display: flex;
  background-color: black;
  color: #fff;
  justify-content: center;
  align-items: center;
}
footer small span.highlight {
  background-color: black;
  font-size: 1.2em;
  font-weight: 600;
}
